main {
    position: absolute;
    justify-content: center;
	align-items: center;
    margin: auto;
    width: 70em;
    top: 50%;
}


#visualizer {
    height: 1em;
}
button {
    height: 3em;
    width: 12em;
}
audio {
    height: 3em;
    vertical-align: top;
}
