main {
    position: absolute;
    justify-content: center;
	align-items: center;
    margin: auto;
    width: 70em;
    top: 50%;
}

#sound-clips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60em;
}
#visualizer {
    height: 1em;
}
button {
    height: 3em;
    width: 12em;
}
audio {
    height: 3em;
    vertical-align: top;
}
#sound-clips article {
    background: #bbb;
}
#sound-clips button {
    vertical-align: top;
}